<div class="w-full h-full" fxLayout="row" fxLayoutAlign="start start">

  @if (false) {
  <div class="noc-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button color="" class="noc-rounded-button"
      [ngClass]="{'noc-active': noctuaCommonMenuService.selectedMiddlePanel === MiddlePanel.CAM_GRAPH}"
      (click)="openGraph()" matTooltip="Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
    </button>
    <button mat-icon-button color="" class="noc-rounded-button"
      [ngClass]="{'noc-active': noctuaCommonMenuService.selectedMiddlePanel === MiddlePanel.CAM_TABLE}"
      (click)="openTable()" matTooltip="Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'table']"></fa-icon>
    </button>
    <button mat-icon-button color="" class="noc-rounded-button"
      [ngClass]="{'noc-active': noctuaCommonMenuService.selectedMiddlePanel === MiddlePanel.CAM_TABLE}"
      (click)="openTable()" matTooltip="Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>
    </button>
  </div>
  }
  <div class="w-full h-full" fxLayout="column" fxLayoutAlign="start stretch">
    @if (!noctuaUserService.user) {
    <div class="noc-not-loggedin" fxLayout="row" fxLayoutAlign="center center">
      Not Logged In: You can only view existing annotations
    </div>
    }
    <noc-cam-toolbar [cam]="cam" [options]="camToolbarOptions"></noc-cam-toolbar>
    <mat-drawer-container class="h-full" fxFlex="" fxLayout="row" fxLayoutAlign="start start" [hasBackdrop]="false"
      autosize>
      <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start" opened>
        <div class="h-full">
          @switch (noctuaCommonMenuService.selectedLeftPanel) {
          @case (LeftPanel.camForm) {
          <noc-cam-form [panelDrawer]="leftDrawer">
          </noc-cam-form>
          }
          @case (LeftPanel.activityForm) {
          <noc-activity-form [panelDrawer]="leftDrawer">
          </noc-activity-form>
          }
          @case (LeftPanel.copyModel) {
          <noc-copy-model [panelDrawer]="leftDrawer" [panelSide]="'left'">
          </noc-copy-model>
          }
          }
        </div>
      </mat-drawer>
      <mat-drawer-content class="w-full h-full" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="w-full h-full">
          @switch (noctuaCommonMenuService.selectedMiddlePanel) {
          @case (MiddlePanel.CAM_TABLE) {
          <noc-cam-table [cam]="cam" [options]="noctuaFormOptions"></noc-cam-table>
          }
          @case (MiddlePanel.CAM_GRAPH) {
          <noc-cam-graph [cam]="cam"></noc-cam-graph>
          }
          }
        </div>
      </mat-drawer-content>
      <mat-drawer #rightDrawer class="noc-right-drawer" mode="over" position="end">
        <div class="h-full" #scrollbarRef>
          @switch (noctuaCommonMenuService.selectedRightPanel) {
          @case (RightPanel.CAM_TABLE) {
          <noc-cam-table [ngStyle]="{width:tableWidth}" [panelDrawer]="rightDrawer" [cam]="cam"
            [options]="tableOptions"></noc-cam-table>
          }
          @case (RightPanel.ACTIVITY_TABLE) {
          <noc-graph-activity-table [panelDrawer]="rightDrawer" [options]="tableOptions" [cam]="cam">
          </noc-graph-activity-table>
          }
          @case (RightPanel.ACTIVITY_CONNECTOR_TABLE) {
          <noc-activity-connector-table [panelDrawer]="rightDrawer" [cam]="cam">
          </noc-activity-connector-table>
          }
          @case (RightPanel.GRAPH_SETTINGS) {
          <noc-graph-settings [panelDrawer]="rightDrawer">
          </noc-graph-settings>
          }
          }
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>