@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

:host {
  padding: 0px;
  width: 100%;

  wc-gocam-viz {
    width: 1200px;
    --panel-border-width: 1px;
    --panel-header-background: rgba(0, 0, 0, 0.03);
    --panel-header-padding: 0.5rem 1rem;
    --panel-header-font-weight: normal;
    --button-background: #0d6efd;
    --button-color: white;
    --button-background-hover: #0b5ed7;
    --legend-border-width: 1px 0 0 0;
    --legend-padding: 0.5rem 1rem;
    --process-label-background: #7a548d;
    --process-label-color: white;
    --process-label-padding: 0.5rem 1rem;
    --process-label-border-width: 0;
    --activity-border-color: #d1b6df;
    --activity-border-width: 0 0 3px 0;
    --activity-background-active: #af732a;
    --activity-color-active: #eee;
    --gene-product-color: #333;
    --gene-product-padding: 0.5rem 1rem;
    --gene-product-border-width: 0 0 1px 0;
    --function-label-padding: 0.5rem 1rem;
    --function-nodes-padding: 0px 1rem 0.5rem 1rem;
    --node-border-width: 0 0 1px 0;
    --graph-padding: 1rem;

    background-color: #fff;
  }

  wc-gocam-viz::part(gene-product) {
    font-size: 1.125rem;
    font-weight: bold;
  }

  wc-gocam-viz::part(legend-header) {
    text-align: center;
  }

  wc-gocam-viz::part(gocam-title) {
    font-weight: bold;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-drawer-container {
    background-color: #e2e2e2;
  }

  .noc-not-loggedin {
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(40px);
    width: 100%;
    //min-height: 35px;
    background-color: rgb(229, 194, 194);
    font-size: 12px;
  }

  .noc-cam-heading {
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(40px);
    width: 100%;
    //min-height: 35px;
    background-color: #fff;
    font-size: 12px;

    @include mat.elevation(2);

    .noc-cam-title {
      max-width: 500px !important;
    }

    .noc-cam-heading-section {
      height: 100%;

      .noc-section-label {
        font-size: 12px;
        color: #555;
      }
    }

    .noc-title {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 250px;

      strong {
        font-size: 12px;
      }
    }

    .noc-model-state {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 150px;
    }

    mat-icon-button {
      border-radius: 0 !important;
    }
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .noc-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
        }
      }
    }

    &.noc-table-chip {
      padding: 0;
      @include deep-height(25px);
      font-size: 10px;

      .noc-icon,
      .noc-icon-action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
          background-color: rgba(#000000, 0.2);
        }
      }

      @include noc-chip-color(#ddd);

      &.noc-user-chip {
        @include noc-chip-color(#bbc9cc);

        .noc-icon {
          color: #59939e;
        }
      }

      &.noc-date-chip {
        @include noc-chip-color(#aee9f5);
      }

      &.noc-state-chip {
        &.noc-development {
          @include noc-chip-color(#f4c89c);
          // border: #d59f80 solid 1px;/
        }

        &.noc-production {
          @include noc-chip-color(#b6f1cc);
          // border: #d59f80 solid 1px;/
        }

        &.noc-review {
          @include noc-chip-color(#d8f6a3);
          // border: #d59f80 solid 1px;/
        }
      }
    }
  }

  .noc-form-container {
    background-color: #eee;
    padding: 20px 10px;
  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: #bbb solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
