<mat-form-field class="noc-sm w-full" appearance="fill" [attr.data-cy]="'form-input-' + control">
  <mat-label>{{label}}</mat-label>
  <textarea type="text" matInput [formControl]="control" [matAutocomplete]="termAuto" row="2"
    (focus)="updateReferenceList()">
  </textarea>
  <!--   @if (autocompleteType === AutocompleteType.REFERENCE) {
  <button mat-icon-button matSuffix (click)="openAddReference($event)" class="noc-evidence-db-trigger">
    <mat-icon>playlist_add</mat-icon>
  </button>
  } -->
  <mat-autocomplete #termAuto="matAutocomplete" [displayWith]="termDisplayFn"
    (optionSelected)="selectTerm($event.option.value)" class="noc-term-autocomplete" fxLayout="row"
    fxLayoutAlign="start start">
    <div class="" fxFlex="400px">
      @for ( item of filteredOptions; track item) {
      <mat-option [disabled]="!item.notAnnotatable" [value]="item">
        <div class="w-full" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-term-label">
            {{ item.label }}
          </div>
          <span fxFlex></span>
          @if (autocompleteType === AutocompleteType.EVIDENCE_CODE) {
          <div class="noc-term-id mr-8">
            <strong>
              {{ item.xref }}
            </strong>
          </div>
          }
          <div class="noc-term-id">
            @if (item.link) {
            <a (click)="$event.stopPropagation()" href="{{item.link}}" target="_blank">
              {{ item.id }}
            </a>
            }
            @if (!item.link) {
            <span>
              {{ item.id }}
            </span>
            }
          </div>
          <button mat-stroked-button (click)="openTermDetails($event, item)"
            class="noc-term-detail-trigger noc-rounded-button noc-sm ml-8">
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
          </button>
        </div>
      </mat-option>
      }
    </div>
    <!-- <div fxFlex="" class="scard-more-info">
      <noc-term-detail *ngIf="termData" [termData]="termData"></noc-term-detail>
    </div> -->
  </mat-autocomplete>
</mat-form-field>