@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  //width: 100%; // display: block;
  background-color: white;
  @include mat.elevation(4);

  .noc-primary-button {
    background-color: map-get($accent, default);
    color: white;
    border: 1px solid map-get($accent, default);
    &:hover {
      background-color: darken(map-get($accent, default), 5%);
    }
  }

  .noc-drawer {
    padding-right: 8px;
  }

  .noc-activity-box {
    width: 250px;
    height: 100px;
    // padding: 12px;
    //box-shadow: 0 1px 40px 0 #B0C1D9;
    @include mat.elevation(2);
    text-align: center;
    z-index: 4;
    border: 1px solid #2e6f9a;
    opacity: 1;
    cursor: move;
    background-color: white;
    font-size: 12px;

    .noc-activity-box-header {
      @include deep-height(30px);
      width: 100%;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      font-size: 12px;
      color: #777;
    }

    &.noc-sm {
      width: 200px;
      height: 100px;
      font-size: 12px;
    }
  }

  .noc-activity-form-container {
    padding: 30px 10px;
    background-image: linear-gradient(
        to right,
        lighten(map-get($primary, default), 20%),
        lighten(map-get($accent, default), 10%),
        darken(map-get($primary, default), 1%)
      ),
      url("~assets/images/gene.jpeg");
  }

  @keyframes gradientAnimation {
    0% {
      background: linear-gradient(
        to right,
        darken(map-get($accent, default), 15%),
        #b4fbc8,
        #fec8a6,
        darken(map-get($primary, default), 15%)
      );
    }
    50% {
      background: linear-gradient(
        to right,
        darken(map-get($accent, default), 10%),
        #a6e9fe,
        #f6c8fa,
        darken(map-get($primary, default), 10%)
      );
    }
    100% {
      background: linear-gradient(
        to right,
        darken(map-get($accent, default), 15%),
        #b4fbc8,
        #fec8a6,
        darken(map-get($primary, default), 15%)
      );
    }
  }
  .noc-activity-form {
    @include deep-width(800px);
    position: relative;
    padding: 5px;
    //background: linear-gradient(to right, #5b8cff, #a6e9fe, #f6c8fa);
    background: linear-gradient(
      to right,
      darken(map-get($accent, default), 15%),
      #b4fbc8,
      #fec8a6,
      darken(map-get($primary, default), 15%)
    );
    border-radius: 12px;
    // animation: gradientAnimation 13s ease infinite;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      background-color: #ffffff;
      z-index: -1;
      border-radius: 12px;
    }

    textarea.noc-comment-box {
      resize: vertical !important;
    }

    .noc-term-margin {
      margin-top: 10px;
    }

    .noc-form-section {
      background-color: lighten(map-get($primary, default), 25%);
      border-radius: 12px;

      .noc-section-header {
        background-color: initial;
        height: 40px;

        .noc-section-heading {
          font-size: 1.2em;
        }
      }
    }

    .noc-submit-row {
      padding: 10px 0;
      background-color: #fff;
    }
  }
}
