<form name="annotationFormGroup" [formGroup]="annotationFormGroup" fxLayout="column" fxLayoutAlign="start center"
  class="noc-activity-form-container">

  <div class="noc-activity-form">
    <div *ngIf="!noctuaUserService.user" class="noc-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">

      <div class="noc-section-body p-0" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="35" class="">
          <noc-annotation-entity-form [entityFormGroup]="annotationFormGroup.get('gp')" fxLayout="row"
            fxLayoutAlign="start center" class="w-100-p">
          </noc-annotation-entity-form>
        </div>
        <div class="p-4" fxFlex="30" fxLayout="row" fxLayoutAlign="start stretch">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-label>GP to Term Relation</mat-label>
            <mat-select placeholder="" formControlName="gpToTermEdge" [compareWith]="compareFn">
              <mat-option *ngFor="let gpToTermEdge of annotationActivity.gpToTermEdges" [value]="gpToTermEdge">
                {{gpToTermEdge.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="35" class="">
          <noc-annotation-entity-form [entityFormGroup]="annotationFormGroup.get('goterm')" [selectTerm]="updateMenu"
            fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
          </noc-annotation-entity-form>
        </div>
      </div>
    </div>
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">

      <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
        <noc-annotation-evidence-form [entityFormGroup]="annotationFormGroup.get('goterm')" fxLayout="row"
          fxLayoutAlign="start center" class="w-100-p">
        </noc-annotation-evidence-form>
      </div>
    </div>

    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">

      <div class="noc-section-body p-0" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50" class="">
          <mat-form-field appearance="outline" class="noc-sm w-100-p">
            <mat-label>Extension Edge</mat-label>
            <mat-select placeholder="" formControlName="extensionEdge" [compareWith]="compareFn">
              <mat-option *ngFor="let extensionEdge of annotationActivity.extensionEdges" [value]="extensionEdge">
                {{extensionEdge.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50" class="">
          <noc-annotation-entity-form [entityFormGroup]="annotationFormGroup.get('extension')" fxLayout="row"
            fxLayoutAlign="start center" class="w-100-p">
          </noc-annotation-entity-form>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
      <button *ngIf="noctuaAnnotationFormService.activity.submitErrors.length>0" (click)='checkErrors()' mat-button
        color="warn" class="noc-rounded-button noc-sm">
        Why is the "Save" button disabled?
      </button>
      <span fxFlex></span>
      <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
      <button [disabled]="noctuaAnnotationFormService.activity.submitErrors.length>0" (click)="save()" type="submit"
        class="" mat-raised-button color="primary">Save</button>
    </div>
  </div>
</form>