<form name="commentsFormGroup" [formGroup]="commentsFormGroup" class="dialog-content-wrapper noc-dialog">
  <div class="m-0 noc-dialog-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-dialog-header-title">
      Comments</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
      Close
    </button>
  </div>
  <div class="noc-dialog-body pt-3  overflow-y-auto">
    <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-section-header pr-8" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-section-heading">
          Comments
        </div>
        <span fxFlex></span>
        <button mat-stroked-button (click)="addComment()" type="submit" class="noc-xs noc-rounded-button"
          color="primary">
          Add
        </button>
      </div>
      <div class="noc-section-body p-8" fxLayout="column" fxLayoutAlign="start stretch">
        @if (comments?.length===0) {
        <div class="noc-no-info">
          No comments yet
        </div>
        }
        <div class="p-4" fxLayout="column">
          @for (comment of commentsFormArray?.controls; track comment; let i = $index) {
          <div formArrayName="commentsFormArray">
            <div fxLayout="row" fxLayoutAlign="start center" class="w-full">
              <div class="noc-form-field-container" fxFlex>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Comment</mat-label>
                  <textarea type="text" matInput [formControlName]="i" rows="4"></textarea>
                </mat-form-field>
                <button mat-button (click)="deleteComment(i)" class="noc-delete-float-button">
                  <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>

  </div>
  <div class="m-0 p-8 noc-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <button (click)='save()' type="button" mat-raised-button color="primary">Save</button>
  </div>
</form>