@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .position#{$infix}-relative {
      position: relative;
    }
    .position#{$infix}-absolute {
      position: absolute;
    }
    .position#{$infix}-static {
      position: static;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .align#{$infix}-top {
      top: 0;
    }
    .align#{$infix}-right {
      right: 0;
    }
    .align#{$infix}-bottom {
      bottom: 0;
    }
    .align#{$infix}-left {
      left: 0;
    }
  }
}

@each $prop, $abbrev in (height: h, width: w) {
  @for $index from 0 through 180 {
    $size: $index * 4;
    $length: #{$size}px;
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
      min-#{$prop}: $length !important;
      max-#{$prop}: $length !important;
    }
  }
  @for $i from 0 through 20 {
    $i-p: 5 * $i;
    $size-p: 5% * $i;
    .#{$abbrev}-#{$i-p}-p {
      #{$prop}: $size-p !important;
    }
  }
}
