@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .position#{$infix}-relative {
      position: relative;
    }
    .position#{$infix}-absolute {
      position: absolute;
    }
    .position#{$infix}-static {
      position: static;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .align#{$infix}-top {
      top: 0;
    }
    .align#{$infix}-right {
      right: 0;
    }
    .align#{$infix}-bottom {
      bottom: 0;
    }
    .align#{$infix}-left {
      left: 0;
    }
  }
}
