<div class="w-100-p p-0 noc-cam-table">
  <div *ngIf="cam.loading?.status" class="noc-summary-bar" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-cam-progress-message">
      {{cam.loading?.message}}
    </span>
  </div>
  <div *ngIf="!cam.loading?.status" class="noc-summary-bar" fxLayout="row" fxLayoutAlign="start center">
    <span class='mr-12'>
      <strong>{{cam.activities.length}}</strong> Annotations
    </span>
    <span class='mr-4'>
      <strong>Sort By</strong> :
    </span>
    <button mat-stroked-button class="noc-rounded-button noc-action-button noc-half-button noc-r noc-xs" color="primary"
      [matMenuTriggerFor]="sortByOptionMenu">
      {{cam.sortBy.label}} <fa-icon *ngIf="cam.expanded" [icon]="['fas', 'caret-down']"></fa-icon>
    </button>
    <button mat-stroked-button (click)="toggleSortDirection()"
      class="noc-rounded-button noc-action-button noc-icon noc-half-button noc-l noc-xs" color="primary">
      <fa-icon *ngIf="cam.sortBy.ascending" [icon]="['fas', 'sort-alpha-down']"></fa-icon>
      <fa-icon *ngIf="!cam.sortBy.ascending" [icon]="['fas', 'sort-alpha-down-alt']"></fa-icon>
    </button>
    <mat-menu #sortByOptionMenu="matMenu" class="noc-dropdown-menu">
      <button mat-menu-item *ngFor="let sortByOption of noctuaFormConfigService.activitySortField.options" class=""
        (click)="sortBy(sortByOption)">
        {{sortByOption.label}}
      </button>
    </mat-menu>
    <span fxFlex></span>
  </div>

  <div class="noc-annotation-table w-100-p" fxLayout="column" fxLayoutAlign="start start">
    <div class="noc-table-header w-100-p" fxLayout="row" fxLayoutAlign="start center">

      <div class="noc-cell noc-annotation-gp-cell" fxFlex="">
        Gene Product
      </div>
      <div class="noc-cell noc-relation-cell">
        Relationship
      </div>
      <div class="noc-cell noc-term-cell" fxFlex="">
        Term
      </div>
      <div class="noc-evidence-cell" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-cell noc-evidence-code-cell" fxFlex="">
          Evidence
        </div>
        <div class="noc-cell noc-reference-cell">
          Reference
        </div>
        <div class="noc-cell noc-with-cell">
          With
        </div>
      </div>
      <div class="noc-cell noc-annotation-extension-cell" fxFlex="">
        Extension
      </div>
      <div class="noc-cell noc-comments-cell">

      </div>
      <div class="noc-cell noc-action-cell"> </div>
    </div>
    <div class="noc-table-body w-100-p">
      <div *ngFor="let annotationActivity of cam.annotationActivities" [attr.id]="annotationActivity.activity.displayId"
        class="w-100-p">
        <noc-annotation-node [options]="options" [cam]="cam" [annotationActivity]="annotationActivity" class="w-100-p">
        </noc-annotation-node>
      </div>
    </div>
  </div>