<div class="w-full noc-annotations-table px-10 mx-auto">
  @if (cam.loading?.status) {
  <div class="noc-summary-bar" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-cam-progress-message">
      {{cam.loading?.message}}
    </span>
  </div>
  }

  @if (cam.activities.length > 0) {
  <div class="noc-summary-bar-container w-full flex items-center px-2">
    <span class='mr-12 text-3xl'>
      Standard Annotations <small class="text-gray-600">( {{cam.annotationActivities?.length}} )</small>
    </span>
  </div>
  <div class="noc-table-header w-full flex items-center">
    @for (header of TABLE_HEADERS; track header) {
    <div class="noc-cell noc-{{header.className}}" [class.flex-1]="header.flex" [class.cursor-pointer]="header.sort"
      (click)="header.sort && sortBy({id: header.sort, label: header.label})">
      {{header.label}}
      @if (header.sort && cam.annotationActivitySortBy.field === header.sort) {
      <fa-icon [icon]="['fas', cam.annotationActivitySortBy.ascending ? 'sort-down' : 'sort-up']"></fa-icon>
      }
      @if (header.icon) {
      <fa-icon [icon]="['fas', header.icon]"></fa-icon>
      }
    </div>
    }
  </div>
  <div class="noc-table-body w-full">
    @for (annotationActivity of cam.annotationActivities; track annotationActivity) {
    <div [attr.id]="annotationActivity.activity.displayId" class="w-full">
      <noc-annotation-node [cam]="cam" [annotationActivity]="annotationActivity" class="w-full">
      </noc-annotation-node>
    </div>
    }

  </div>
  } @else {
  <div class="noc-no-info" fxLayout="row" fxLayoutAlign="center center">
    No annotations available to display
  </div>
  }
</div>