<form fxLayout="column" fxLayoutAlign="start stretch" class="noc-cam-form noc-drawer h-full">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Announcements</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      Close
    </button>
  </div>
  <div class="noc-drawer-body w-full p-8">
    @for (announcement of announcements; track announcement) {
    <div class="alert alert-{{announcement.level}} w-full my-8">
      <strong>{{announcement.title}}</strong><br>
      {{announcement.description}}
      @if (announcement.descriptionUrl) {
      <a href="{{announcement.descriptionUrl}}" target="_banl">
        More Details
      </a>
      }
    </div>
    }
  </div>
</form>