<div name="dynamicForm" [formGroup]="dynamicForm" fxLayout="row" fxLayoutAlign="start center" class="w-full">
  @if (displaySection.relationship) {
  <div class="noc-edit-field p-4" fxFlex="300px" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="p-4 w-full">
      <mat-form-field appearance="outline" class="noc-sm w-full">
        <mat-label>Choose GP to Term Relation</mat-label>
        <mat-select placeholder="" [compareWith]="compareEntity" formControlName="relationship">
          @for (relationshipChoice of relationshipChoices; track relationshipChoice) {
          <mat-option [value]="relationshipChoice">
            {{relationshipChoice.label}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  }
  @if (displaySection.term) {
  <noc-term-autocomplete class="p-1 w-250px" [formControlName]="formControlName" [autocompleteType]="autocompleteType"
    [label]="label" [category]="autocompleteCategory" appearance="outline"></noc-term-autocomplete>
  }
  <button mat-icon-button (click)="close()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button (click)="save()">
    <mat-icon>check_circle</mat-icon>
  </button>
</div>