@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .noc-drawer {
    //@include deep-width(300px);
  }

  .noc-selected {
    border-left: #548260 solid 5px;
  }
}
