@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  padding: 0px;
  width: 100%;

  noc-cam-table {
    display: block;
  }

  noc-activity-connector {
    display: block;
    @include deep-width(600px);
  }

  noc-graph-settings {
    display: block;
    @include deep-width(500px);
  }

  noc-graph-activity-table {
    display: block;
    min-width: 400px;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-drawer-container {
    background-color: #e2e2e2;
  }

  .noc-not-loggedin {
    padding: 0 10px;
    @include deep-height(40px);
    width: 100%;
    //min-height: 35px;
    background-color: rgb(229, 194, 194);
    font-size: 12px;
  }

  .noc-cam-heading {
    padding: 0 10px;
    @include deep-height(40px);
    width: 100%;
    //min-height: 35px;
    //background-color: #fff;

    background: linear-gradient(
      to right,
      lighten(map-get($primary, default), 20%),
      lighten(map-get($accent, default), 25%),
      darken(map-get($primary, default), 2%)
    );
    font-size: 12px;

    .noc-cam-title {
      max-width: 400px !important;
    }

    .noc-cam-heading-section {
      height: 100%;

      .noc-section-label {
        font-size: 12px;
        color: #555;
      }
    }

    .noc-title {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 250px;

      strong {
        font-size: 12px;
      }
    }

    .noc-toolbar-button {
      padding: 0;
      font-size: 18px;
      color: #555;

      &:hover {
        color: #888;
      }
    }

    .noc-model-state {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 150px;
    }

    mat-icon-button {
      border-radius: 0 !important;
    }
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .noc-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
        }
      }
    }

    &.noc-table-chip {
      padding: 0;
      @include deep-height(25px);
      font-size: 10px;

      .noc-icon,
      .noc-icon-action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
      }

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
          background-color: rgba(#000000, 0.2);
        }
      }

      @include noc-chip-color(#ddd);

      &.noc-user-chip {
        @include noc-chip-color(darken(map-get($accent, default), 1%));

        .noc-icon {
          color: #222;
        }
      }

      &.noc-date-chip {
        @include noc-chip-color(darken(map-get($accent, default), 1%));
        .noc-icon {
          color: #222;
        }
      }

      &.noc-state-chip {
        @include noc-chip-color(darken(map-get($accent, default), 1%));
        .noc-icon {
          color: #222;
        }
        /*         &.noc-development {
          @include noc-chip-color(#f4c89c);
          // border: #d59f80 solid 1px;/
        }

        &.noc-production {
          @include noc-chip-color(#b6f1cc);
          // border: #d59f80 solid 1px;/
        }

        &.noc-review {
          @include noc-chip-color(#d8f6a3);
          // border: #d59f80 solid 1px;/
        } */
      }
    }
  }

  .noc-toolbar {
    padding: 0px 20px;
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: #bbb solid 1px;

    .noc-title {
      line-height: 38px;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
